<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="300" border="1">
  <tr>
    <th scope="col">category</th>
    <th scope="col">select

      <select name="category" id="1">
          {% for i in data %}
        <option value="l">{{ i['category'] }}</option>
{% endfor %}
      </select></th>

  </tr>
  <tr>
    <th scope="row">Bookname</th>
    <td><input type="text" name="bookname" id="textfield" /></td>
  </tr>
   <tr>
    <th scope="row">Author</th>
    <td><input type="text" name="auther" id="textfield" /></td>
  </tr>
   <tr>
    <th scope="row">price</th>
    <td><input type="text" name="price" id="textfield" /></td>
  </tr>
   <tr>
    
    <td colspan="2"><input type="submit" value="submit"/></td>
  </tr>
</table>

</form>
</body>
</html>
