<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table width="300" border="1">
  <tr>
    <th scope="row">#</th>
    <td>BOOK_NAME</td>
    <td>AUTHOR</td>
    <td>PRICE</td>
    <td>CATEGORY</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">{{ loop.index }}</th>
    <td>{{ i['Book_name'] }}</td>
    <td>{{ i['Author'] }}</td>
    <td>{{ i['Price'] }}</td>
    <td>{{ i['Category'] }}</td>
  </tr>
    {% endfor %}

</table>
</form>
</body>
</html>
