<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<form id="form1" name="form1" method="post" action="/register">
  <table width="300" border="1">
    <tr>
      <th scope="row">FULL NAME</th>
      <td><input type="text" name="full_name" id="full_name" /></td>
    </tr>
      <tr>
      <th scope="row">PASSWORD</th>
      <td><input type="password" name="password" id="password" /></td>
    </tr>
      <tr>
      <th scope="row">CONFIRM PASSWORD</th>
      <td><input type="password" name="confirm_password" id="confirm_password" /></td>
    </tr>
      <tr>
      <th scope="row">NUMBER</th>
      <td><input type="text" name="phone_num" id="phone_num" /></td>
    </tr>
     <tr>
      <th scope="row">EMAIL</th>
      <td><input type="email" name="email" id="email" /></td>
    </tr>
      <tr>
      <th scope="row">place</th>
      <td><input type="text" name="place" id="place" /></td>
    </tr>
      <tr>
      <th scope="row">post</th>
      <td><input type="text" name="post" id="post" /></td>
    </tr>
       <tr>
      <th scope="row">pin</th>
      <td><input type="text" name="pin" id="pin" /></td>
    </tr>
       <tr>
      <th colspan="2" scope="row"><input type="submit" name="Register" id="Register" value="Register" /></th>
    </tr>

  </table>
</form>



</body>
</html>