<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post"><table width="300" border="1">
  <tr>
    <th scope="row">REPLY</th>
    <td><textarea name="comp_reply" id="comp_reply" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="REPLY" /></th>
    </tr>
</table>
</form>
</body>
</html>
