<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table width="300" border="1">
  <tr>

      <td>#</td>
    <td>SNAME</td>
    <td>SPLACE</td>

    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>

   <td>{{ i['Store_id'] }}</td>
   <td>{{ i['Store_name'] }}</td>
      <td>{{ i['Store_place'] }}</td>
    <td><a href="#">APPROVE</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
