<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="300" border="1">
    <tr>
      <th scope="row">#</th>
         <td>User_id</td>
      <td>NAME</td>
      <td>Housename</td>
      <td>DISTRICT</td>
      <td>Locality</td>
        <td>Pin</td>
        <td>District</td>
        <td>Email</td>
      <td>PHONE</td>
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">&nbsp;</th>
      <td>{{ i['user_id'] }}</td>
      <td>{{ i['name'] }}</td>
      <td>{{ i['Housename'] }}</td>
      <td>{{ i['Street'] }}</td>
        <td>{{ i['Locality'] }}</td>
        <td>{{ i['Pin'] }}</td>
        <td>{{ i['District'] }}</td>
        <td>{{ i['Email'] }}</td>
        <td>{{ i['Phone_number'] }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
