<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="get">
<table width="300" border="1">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">mobile</th>
    <th scope="col">Email</th>
    <th scope="col">Place</th>
    <th scope="col">Post</th>
    <th scope="col">Pin</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ i['Name'] }}</td>
    <td>{{ i['mobile_num'] }}</td>
    <td>{{ i['email'] }}</td>
    <td>{{ i['place'] }}</td>
    <td>{{ i['post'] }}</td>
    <td>{{ i['pin'] }}</td>
  </tr>
     {% endfor %}
</table>

</form>
</body>
</html>